.PersonalSetting{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    border: 3px solid #0074D9;
}

.SettingSelect{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
}